@model CreateClassModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Clone student groups";
    ViewData["FormAjaxUpload"] = Url.Action("Clone");
    Class from = ViewBag.Class;
}

<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
    <label id="old">Clone from</label>
    <input id="old" class="form-control" readonly value="@from.Name" />
</div>
<div class="form-group">
    <label asp-for="ClassName">New student group name</label>
    <input asp-for="ClassName" autofocus required class="form-control" />
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IsShared">
        <label class="custom-control-label" asp-for="IsShared">Shared to other teachers</label>
    </div>
</div>

@section Footer {
    <button type="submit" class="btn-primary btn">Clone</button>
}