@model CreateClassModel
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Create student groups";
    ViewData["FormAjaxUpload"] = Url.Action("Create");
}

<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
    <label asp-for="ClassName">Student group name</label>
    <input asp-for="ClassName" class="form-control" />
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="IsShared">
        <label class="custom-control-label" asp-for="IsShared">Shared to other teachers</label>
    </div>
</div>

@section Footer {
    <button type="submit" class="btn-primary btn">Save</button>
}